.calculator-body{
    width: 100%;
    display: flex;
    justify-content: center;
}
.calculator{
    max-width: 380px;
    margin-top: 70px;
    background-color: black;
    width: 100%;
    border-radius: 20px;
    padding: 40px 20px;
    overflow: hidden;
}

.value {
    font-size: 50px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.calc-item{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
}
.calc-item-2{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
}
.calc-item-3{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
}
.span-3{
    grid-column: 1 / span 3;
}
.calc-zero{
    width: 100%;
    height: 60px;
    border-radius: 20px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
